fieldset
{
    margin-left: 500px;
    margin-top: 150px;
    height: 150px;
}
legend
{
   font-weight: bold;
   font-size: 18px;
   color: rgb(184, 9, 9);
}

table
{
    background-color: lightsteelblue;
    font-weight: bold;
    font-size: 18px;
    font-family: calibri;
    margin-top: 10px;
    padding-top:5px ;
    padding-bottom: 5px;
    height: 120px;
 }


#i_reset
{
    margin-left: 90px;
    width: 100px;
    height: 27px;
    background-color: black;
    color: white;
    font-weight: bold;
}

#i_submit
{   
    background-color: black;
    color: white;  
    width: 100px;
    height: 27px;
    font-weight: bold;
}

